extends _template.pug

block konten 
    h1 sejarah
    img(alt="Logo" height="200" src="component/img/logo.jpeg" width="200")   
    | sekolah menengah kejuruan Nusa Bangsa berdiri pada tanggal 10 Februari 2009. Kini telah meluluskan kurang lebih 1000 siswa dari mulai tahun 2012 sampai sekarang yang diluluskan dari sekolah yang beralamat di Jl. Raya Timur No. 4 Batuan. Memiliki 3 kompetensi keahlian yaitu teknik komputer dan jaringan (TKJ), rekayasa perangkat lunak (RPL), dan teknik mesin. Berbekal dari kepercayaan masyarakat terhadap SMK Nusa Bangsa yang meluluskan siswa-siswi yang berakhlaq dan berkualitas. SMK Nusa Bangsa akan selalu mendedikasikan layanan pendidikannya untuk kemajuan masyarakat pada umumnya dan khususnya bagi masyarakat lokal.
       